


/* This class contains my heading banner container */
.topBanner {
    
    margin-top: 80px;
    left: 0;
    right: 0;
    
    
    overflow: hidden;
    

    
    
}

.Matrix__rain__container {
    
    width: 100%;
    z-index: -100;
    position: absolute;
    display: flex;
    align-content: center;
    overflow: none;
    margin-top: -250px;
    background: #0b1b09;
    
    

}

#matrix__Rain {
    
    
    width: 100%;
    height: auto;
    overflow: hidden;
    
    z-index: -100;
   /* max-height: 1000px; */
}

/* This class contains my heading banner background */
.topBanner__container {
   
    
    display: flex;
    justify-content: center;
    overflow: none;
    flex-direction: row;
    
    
    
    width: 100%;
    height: auto;
    transform: scale(0.7);
    
    
    
}

/* This class contains my choose me text, career interests, and resume text */
.page1__body {
    z-index: 50;
    position: relative;
    background: rgb(0, 217, 255); 
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -4px;
    padding-bottom: 100px;
    overflow: hidden;
}

/*We want to have the matrix above the banner when we have enough space */
@media screen and (min-width: 700px) {

    .topBanner  {
        margin-top: 160px;
    }

    .topBanner__container {
        transform: scale(1);
    }

    .Matrix__rain__container {
        margin-top: -310px;
        
    }

    .page1__body {
        margin-top: 70px;
    }


}
/* The banner needs to start later on desktop*/
@media screen and (min-width: 1293px) {
    
    .topBanner  {
        margin-top: 140px;
    }

    

    .Matrix__rain__container {
        margin-top: -300px;
    }

}






/* This class contains my choose me text */
.choose__me_text {
    
    display: flex;
   
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding: 3ch;
    font-size: 1.5rem;
}


.my__career__interests {

    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding: 3ch;
    font-size: 1.5rem;
    max-width: 800px;
    
}

.picture__of__programmer__container {
    height: 500px;
    width: 500px;
    transform: scale(.7);
    position: relative;
    margin-left: -326.5px;
    margin-top: -100px;
    
}



/* This class contains my resume text */
.look__at__resume__text {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: tan;
    
    padding: 3ch;
    font-size: 1.5rem;
}

/* This class contains my embeded Resume file container*/
.embeded__resume__container {

    
    /* Until we want to view the resume we want it to stay invisible */
    display: none;
    
    
}

/* This class contains my embeded Resume file */
.embeded__resume__container embed {
    width: 100%;
    height: 100%;
}

/* This class contains my embeded Resume file container while it is active*/
.embeded__resume__container.active {
    display: flex;
    justify-content: center;
    flex-direction: column;

    max-width: 1300px;
    width: 100%;
    border: solid black 6px;
    height: 900px;
    
}

/* This class contains the resume related buttons*/
.downloadResume__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* This id contains my view Resume file button while*/
#view__resume__btn {
    font-size: 1.4rem;
    position: relative;
    list-style: none;
    text-decoration: none;
    background: red;
    border-radius: 20px;
    margin-top: 2.7ch;
    margin-bottom: 6.5ch;
    margin-left: 1ch;
    margin-right: 1ch;
    padding: 8px;
    color: white;
    cursor: pointer;
    
}

/* This id contains my minimize Resume file button while the resume container is active*/
#minimize__resume__btn {
   
    background-color: rgb(117, 117, 117);
    font-size: 1.6rem;
    padding: 3px;
    cursor: pointer;
    color: white;
    
}

/*On desktop we want the embeded resume to have a larger container */
@media  screen and (min-width: 1293px) {
    .embeded__resume__container.active {
        height: 1300px;
        
    }
    
}



/* This class contains my education and images */
.page1__body2 {
    background-color: rgb(255, 166, 0);
}

.my__education__text h1 {
    margin-top: 0px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
/* This class contains my education text */
.my__education__text {

    display: flex;
    position: relative;
    
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 3ch;
    font-size: 1.5rem;
    
    
}

/* This class contains my Universitys/school text and pictures*/
.Auburn__education,
.Spring__Hill__education,
.UMS__education 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10ch;
    overflow-x: hidden;
}

/* This class contains my Universitys and school text*/
.Auburn__education__text,
.Spring__Hill__education__text,
.UMS__education__text 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 850px;
    font-size: 1.8rem;
    padding: 2ch;
    align-items: center;
    

}

/* This class contains my Universitys and school images*/
.picture__of__Auburn__University,
.picture__of__Spring__Hill__College,
.picture__of__Ums__Wright
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* With out forcing a max height our images can stretch and become ugly overall */
    max-height: 300px;
    
}



/* This class contains by Personal backstory and pictures */
.page2__container {
    position: relative;
    background-color: rgb(5, 231, 220);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.3rem;
    
    
}