rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false; // default read write permissions are disabled
    }
    match /things/{docId} {
    	allow write: if request.auth.uid == request.resource.data.uid; // allow write only for a specific user and their specific content
    	allow read,delete: if request.auth.uid == resource.data.uid; // Only lets a user read files if those files contain their specific user id
    }
    match /Users/{docId} {
    	allow write: if request.auth.uid == request.resource.data.uid; // allow write only for a specific user and their specific content
    	allow read: if request.auth.uid == resource.data.uid; // Only lets a user read files if those files contain their specific user id
    }
    match /User_Notifications/{docId} {
    	allow write: if request.auth.uid == request.resource.data.uid; // allow write only for a specific user and their specific content
    	allow read,delete: if request.auth.uid == resource.data.uid; // Only lets a user read or delete files if those files contain their specific user id
    }
    match /General_Notifications/{docId} {
    	allow read: if true;
    }
  }
}