/* By setting the margin and height to max in the body we ensure that our div classes extend the entire screen */
body {

    margin:0px;
    height:100%;


    
}


/* This class contains my heading banner container */
.topBanner {
    
    margin-top: 80px;
    left: 0;
    right: 0;
    
    
    overflow: hidden;
    

    
    
}

.Matrix__rain__container {
    
    width: 100%;
    z-index: -100;
    position: absolute;
    display: flex;
    align-content: center;
    overflow: none;
    margin-top: -250px;
    background: #0b1b09;
    
    

}

#matrix__Rain {
    
    
    width: 100%;
    height: auto;
    overflow: hidden;
    
    z-index: -100;
   /* max-height: 1000px; */
}

/* This class contains my heading banner background */
.topBanner__container {
   
    
    display: flex;
    justify-content: center;
    overflow: none;
    flex-direction: row;
    
    
    
    width: 100%;
    height: auto;
    transform: scale(0.7);
    
    
    
}

/* This class contains my choose me text, career interests, and resume text */
.page1__body {
    z-index: 50;
    position: relative;
    background: rgb(0, 217, 255); 
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -4px;
    padding-bottom: 100px;
    overflow: hidden;
}

/*We want to have the matrix above the banner when we have enough space */
@media screen and (min-width: 700px) {

    .topBanner  {
        margin-top: 160px;
    }

    .topBanner__container {
        transform: scale(1);
    }

    .Matrix__rain__container {
        margin-top: -310px;
        
    }

    .page1__body {
        margin-top: 70px;
    }


}
/* The banner needs to start later on desktop*/
@media screen and (min-width: 1293px) {
    
    .topBanner  {
        margin-top: 140px;
    }

    

    .Matrix__rain__container {
        margin-top: -300px;
    }

}






/* This class contains my choose me text */
.choose__me_text {
    
    display: flex;
   
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding: 3ch;
    font-size: 1.4rem;
    min-width: 0;
}


.my__career__interests {

    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding: 3ch;
    font-size: 1.4rem;
    max-width: 800px;
    min-width: 0;
    
}

.picture__of__programmer__container {
    transform: scale(.7);
    position: relative;
    margin-top: -100px;
    
}



/* This class contains my resume text */
.look__at__resume__text {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: tan;
    
    padding-top: 2ch;
    padding-bottom: 5ch;
    padding-left: 3ch;
    padding-right: 3ch;
    font-size: 1.5rem;
    
}

/* This class contains my embeded Resume file container*/
.embeded__resume__container {

    
    /* Until we want to view the resume we want it to stay invisible */
    display: none;
    
    
}

/* This class contains my embeded Resume file */
.embeded__resume__container embed {
    width: 100%;
    height: 100%;
}

/* This class contains my embeded Resume file container while it is active*/
.embeded__resume__container.active {
    display: flex;
    justify-content: center;
    flex-direction: column;

    max-width: 1300px;
    width: 100%;
    border: solid black 6px;
    height: 900px;
    
}

/* This class contains the resume related buttons*/
.downloadResume__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* This class contains the download resume button*/
.Download__Resume__btn {
    font-size: 1.4rem;
    position: relative;
    list-style: none;
    text-decoration: none;
    background: rgba(255, 0, 0, 0.322);
    border: solid 5px;
    border-color: red;
    
    border-radius: 20px;
    max-height: 50px;
    margin-left: 1ch;
    margin-right: 1ch;
    margin-bottom: 2ch;

    padding: 8px;
    color: rgb(0, 0, 0);
    cursor: pointer;

}

/* This id contains my view Resume file button while*/
#view__resume__btn {
    font-size: 1.4rem;
    position: relative;
    list-style: none;
    text-decoration: none;
    background: red;
    border-radius: 20px;
    
    
    margin-left: 1ch;
    margin-right: 1ch;
    margin-bottom: 2ch;
    padding: 6px;
    color: white;
    cursor: pointer;
    max-height: 50px;
    
    
}

/* This id contains my minimize Resume file button while the resume container is active*/
#minimize__resume__btn {
   
    background-color: rgb(117, 117, 117);
    font-size: 1.5rem;
    padding: 8px;
    cursor: pointer;
    color: white;
    
}

/*On desktop we want the embeded resume to have a larger container */
@media  screen and (min-width: 1293px) {
    .embeded__resume__container.active {
        height: 1300px;
        
    }
    
}



/* This class contains my education and images */
.page1__body2 {
    background-color: rgb(255, 166, 0);
}

.my__education__text h1 {
    margin-top: 0px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
/* This class contains my education text */
.my__education__text {

    display: flex;
    position: relative;
    
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 3ch;
    font-size: 1.3rem;
    
    
}

/* This class contains my Universitys/school text and pictures*/
.Auburn__education,
.Spring__Hill__education,
.UMS__education 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10ch;
    overflow-x: hidden;
}

/* This class contains my Universitys and school text*/
.Auburn__education__text,
.Spring__Hill__education__text,
.UMS__education__text 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 850px;
    font-size: 1.5rem;
    padding: 2ch;
    align-items: center;
    min-width: 0;
    

}

/* This class contains my Universitys and school images*/
.picture__of__Auburn__University,
.picture__of__Spring__Hill__College,
.picture__of__Ums__Wright
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* With out forcing a max height our images can stretch and become ugly overall */
    max-height: 300px;
    
}



/* This class contains by Personal backstory and pictures */
.page2__container {
    position: relative;
    background-color: rgb(255, 238, 0);

    font-size: 1.3rem;
    padding-bottom: 8ch;
    overflow-x: hidden;
    
    

}
/* This class contains by Personal backstory heading */
.my__Backstory__heading {

    font-size: 1.5rem;
    padding-left: 3ch;
    padding-right: 3ch;
    padding-bottom: 1ch;
    display: flex;
    justify-content: center;


}

.my__Backstory {
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   

}




/* Lets make a rotating image banner that will show various pictures of the project 1*/
/* The size of this banner will increase when the display size increases */

/* THis class is the container that holds the main image banner4 */
.main-banner4__container {
    display: flex;
    flex-direction: row;

    align-items: center;



}

.main-banner4 {
    width: 673.2px;
    height: 897.6px;
    
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
    transform: scale(.8);

}

/* The images look too big on a small screen so lets shrink them dow some */
@media screen and (min-width: 900px){
    .main-banner4 {

        transform: scale(1);
    }
}

    

.main-banner4 .imgban4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
}

/* This class and id contain our 3rd image for project 2 */
.main-banner4 #imgban12 {
    background-image: url(images__about/MeWinningAtChess.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project 2 */
.main-banner4 #imgban11 {
    background-image: url(images__about/MeAtMyDesk.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project 2 */
.main-banner4 #imgban10 {
    background-image: url(images__about/MeAtDauphinIsland.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our buttons for changing the images */
.imgbanbtn4 {
    width: 30px;
    height: 40px;
    position: absolute;
    top: 385px;
    z-index: 2000;
    opacity: 0.25;
    cursor: pointer;
    transition: opacity 200ms ease-in;



}

.imgbanbtn4:hover {


    opacity: 0.8;
}

.imgbanbtn4-prev {

    left: 10px;
    font-size: 4.5rem;
    
}

.imgbanbtn4-next {

    right: 50px;
    font-size: 4.5rem;
}





/* This class contains by Personal backstory text */
.my__Backstory__text {
    padding: 2ch;
    font-size: 1.3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*We need this media query otherwise the backstory text will almost never condense enough to form a second column */
@media screen and (min-width: 1243px) {
    .my__Backstory__text {
        
        width: 33.333%;
    }
}


/* This class contains my text on image 12 (me at Dauphin Island)*/
/* This class contains my text on image 11 (my Desk setup)*/
/* This class contains my text on image 12 (my chess trophy)*/
.img10__text,
.img11__text,
.img12__text{
    padding: 0.5ch 2ch;
    color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 20px;
}


/* Lets create animations for our buttons */

#view__resume__btn {
    
    transition: color 250ms ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#view__resume__btn:hover,
#view__resume__btn:focus

{

    color: black;
    

}

#view__resume__btn::before


{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-color: rgb(16, 231, 52);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms;
    
}

#view__resume__btn:hover::before,
#view__resume__btn:focus::before

{
transform: scaleX(1);

}


.Download__Resume__btn {
    
    transition: color 250ms ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.Download__Resume__btn::before


{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-color: rgb(16, 231, 52);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms;
    
}

.Download__Resume__btn:hover::before,
.Download__Resume__btn:focus::before

{
transform: scaleX(1);

}





#minimize__resume__btn {
    
    position: relative;
    z-index: 1;
    overflow: hidden;
}


#minimize__resume__btn::before


{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-color: rgba(255, 0, 0, 0.644);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 400ms;
    
}

#minimize__resume__btn:hover::before,
#minimize__resume__btn:focus::before

{
transform: scaleX(1);

}


/*We want to set the link1 to always be underlined that way we know the current page
we are on. The link1 id location will be changed depending on the html file we are using*/
#navbar__mobile__link2::before,
#navbar__desktop__link2::before {
    transform-origin: center;
    transform: scaleX(0.85);
}