/* By setting the margin and height to max in the body we ensure that our div classes extend the entire screen */
body {

    margin:0px;
    height:100%;


    
}


/* This class contains everything related to my current contact information */
.page1__container {


background: linear-gradient(252.44deg, 
    #FFE600 0%, 
    rgba(255, 186, 53, 0.65) 16.67%, 
    rgba(209, 21, 66, 0.807292) 100%);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 83px;
    padding-top: 5ch;
    padding-bottom: 5ch;
}

/* When we move to desktop the navbar shrinks so the top margin needs to shrink as well */

@media screen and (min-width: 1293px) {
    .page1__container {
        margin-top: 68px;
        
    }
}

/* On desktop the first page is not long enough when 2 columns are visible so lets extend to top and bottom some */
@media screen and (min-width: 1694px) {
    .page1__container {
        
        padding-top: 10ch;
        padding-bottom: 20ch;
    }
}

/* This class contains the heading text for page 1 */
.page1__container h1 {


    padding: 1ch;
    font-size: 2.8rem;
    color: rgb(52, 57, 102);
}

/* This class contains the paragraph text for page 1 */
.page1__container p {

   font-size: 1.6rem; 
   color:rgb(42, 42, 42)


}


/* This class contains the current contact info text */
.current__contact__text h1{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding-left: 3ch;
    padding-right: 3ch;

}
/* This class contains the current contact info text */
.current__contact__text p{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 800px;
    padding-left: 3ch;
    padding-right: 3ch;

}

/* This class contains the current residence location text and map*/
.Where__I__am__located {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    overflow-x: hidden;
      
    
}
/* This class contains the current residence location heading*/
.Where__I__am__located h1 {
    padding-left: 2ch;
    padding-right: 2ch;
}

/* This class contains the current residence location sentance (paragraph)*/
.Where__I__am__located p {
    padding-left: 2ch;
    padding-right: 2ch;
}
/* This class contains the current residence location map*/
.gmap_canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
   

    
}
/* When the screen gets bigger we want to make the map view larger as well */
@media screen and (min-width: 1293px) {
    

    .Control__Auburn__map__size,
    .Auburn__Map_style.mapouter {
        width: 800px;
        height: 600px;
    }
}

/* This class contains the contact form heading text*/
.Contact__form__heading {
    display: flex;
    justify-content: center;
    padding: 3ch;
    font-size: 1.6rem

}

/* This class contains page 2 which is the contact form page*/
.page2__container {
    background: -moz-linear-gradient(-45deg, rgba(63,94,251,1) 0%, rgba(252,70,238,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(63,94,251,1) 0%, rgba(252,70,238,1) 100%);
    background: linear-gradient(-45deg, rgba(63,94,251,1) 0%, rgba(252,70,238,1) 100%);
    
    display: flex;
    flex-direction: column;
    padding-bottom: 15ch;

}
.page2__container h1{
    color: rgb(42, 48, 59);
}

/* This class contains the contact phones image*/
.phone__illustration__container {
    transform: scale(0.65);
    
    padding-left: 2ch;
    padding-right: 2ch;
    margin-top: -80px;
    margin-bottom: -60px;


}

/* The phone photo is too smal on desktop so lets fix that*/
@media screen and (min-width: 1293px) {
    
    .phone__illustration__container {
        transform: scale(1);
        padding-bottom: 10ch;
        margin-bottom: 0px;
        margin-top: -40px;
    
    
    }
}


/*We want to set the link1 to always be underlined. That way we know the current page
we are on. The link1 id location will be the home page*/
#navbar__mobile__link4::before,
#navbar__desktop__link4::before {
    transform-origin: center;
    transform: scaleX(0.85);
}