/* By setting the margin and height to max in the body we ensure that our div classes extend the entire screen */
body {

    margin:0px;
    height:100%;


    
}
/* This class contains all of page 1 */
.page1__container {

    background: rgba(0, 255, 234, 0.39);
    margin-top: 83px;
}

/* page 1 needs to start later on desktop*/
@media screen and (min-width: 1293px) {
    
    .page1__container  {
        margin-top: 68px;
    }

}

/* This class contains the introduction to the projects page */
.page1__intro {
    padding-top: 5ch;
    padding-left: 3ch;
    padding-right: 3ch;
    font-size: 1.4rem;
}

/* This class contains the introduction to the projects page header */
.page1__intro h1 {
    display: flex;
    justify-content: center;
}

/* This class contains the introduction to the projects page bullet points */
.page1__intro ul {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page2__container {

    /*Borders for testing can be removed now
   border: solid 8px; 
   */

   display: flex;
   flex-direction: column;
   
   /* By using flex grow we ensure that the page 2 container takes up all space not being used by another container.
   Without this option the background would stop extending since we have 2 containers in our div which are .page2container and .extended_Description */
   flex-grow: 1;
   

   

}

.page2__heading,
.page3__heading 
{
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    padding: 3ch 2ch;
    color: #3633C9;



     /*Borders for testing can be removed now
    border: solid lightblue 4px;
    */
}

/* This class contains the titles for the 3 diffrent projects */
.Project__Name {
    color: #353541;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-bottom: 1.5ch;

}

.large_scale_Projects {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

     /*Borders for testing can be removed now
    border: solid pink 4px;
    */



}

.large__Project__container,
.small__Project__container
 {
    display: flex;
    flex-direction: column;

     /*Borders for testing can be removed now
    border: solid orange 4px;
    */

    align-items: center;
    padding-bottom: 4ch;


}
/* The project buttons are the buttons that say learn more under each project */
.Project__button

{

    border: 1.5px solid #000000;
    border-radius: 20px;
    background: #3CB928;
    font-size: 2rem;
    margin-top: 1.5ch;
    color: #D61010;
    cursor: pointer;
    padding: 8px;
    z-index: 100;
}


.page2footer {
    display: flex;
    justify-content: center;
}



/* This class represents the description of each project under every video */
.Project__Description {
    /*Borders for testing can be removed now
    border: solid green 4px;
    */
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    font-size: 1.3rem;
    /* The space above is a little bit too much so lets decrease the spacing a little */
    margin-top: -0.1ch; 
    padding-left: 2ch;
    padding-right: 2ch;

    

}

/* This class contains the download buttons which can be found in the extended description */
.DownloadButton,
.DownloadButton_extended_Source_project_12,
.DownloadButton_extended_User_Man_project_12,
.DownloadButton_extended_Developer_Man_project_12 {

    font-size: 1.4rem;
    list-style: none;
    text-decoration: none;
    background: red;
    border-radius: 20px;
    padding: 6px;
    margin-bottom: 4ch;
    color: white;
    cursor: pointer;
}



/* This class contains the download installer code button which can be found in the extended description of ChatVUE Installer Applications within Downloads */
.DownloadButton_extended_Source_project_12 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    z-index: 0;
    transform: rotateX(90deg);
    transition: transform 200ms 200ms ease-in-out;
}

.DownloadButton_extended_Source_project_12.visible {
    transform: rotateX(0deg);
    
}

/* This class contains the download user manual button which can be found in the extended description of ChatVUE Installer Applications within Downloads */
.DownloadButton_extended_User_Man_project_12 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    z-index: 0;
    transform: rotateX(90deg);
    transition: transform 200ms 300ms ease-in-out;

}

.DownloadButton_extended_User_Man_project_12.visible {
    transform: rotateX(0deg);
}
/* This class contains the download developer manual button which can be found in the extended description of ChatVUE Installer Applications within Downloads */
.DownloadButton_extended_Developer_Man_project_12 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.2rem;
    z-index: 0;
    transform: rotateX(90deg);
    transition: transform 200ms 400ms ease-in-out;

}

.DownloadButton_extended_Developer_Man_project_12.visible {
    transform: rotateX(0deg);
}

/* This class holds the contents of both the extended Decription and Page 2 */
.Page2__and__extended__Description {
    display: flex;
    flex-direction: row-reverse;

    
    

}

/* The p tag within the Page2__and__extended__Description is all of the statements in the extended description */
.Page2__and__extended__Description p {
    font-size: 1.2rem;

}



/* This class contains the close window button in project extended decription */
.CloseWindow__Section1,
.CloseWindow__Section2,
.CloseWindow__Section3,
.CloseWindow__Section4,
.CloseWindow__Section5,
.CloseWindow__Section6,


.CloseWindow__Section7,
.CloseWindow__Section8,
.CloseWindow__Section9,
.CloseWindow__Section10,
.CloseWindow__Section11,
.CloseWindow__Section12,
.CloseWindow__Section13
{
    position: fixed;

    top: 0;
    right: 36px;
    margin-top: 60px;
    z-index: 300;
    padding: 0px;
    transform: translateX(150%);
    transition: transform 150ms ease-in-out;
    }
    

   /* This class contains the download section in project extended decription */
.download_Section1,
.download_Section2,
.download_Section3,
.download_Section4,
.download_Section5,
.download_Section6,

.download_Section7,
.download_Section8,
.download_Section9,
.download_Section10,
.download_Section11,
.download_Section12,
.download_Section13
 {

    position: fixed;
    top: 0;
    right: 110px;
    margin-top: 106px;
    z-index: 300;
    transform: translateX(150%);
    transition: transform 150ms 150ms ease-in-out;
}

.download_Section12 {

    padding: 0px;
}

/* This id points to the Downloads Options container. The container extends down too far so let's fix that */  
#download_options_Project12 {
    margin-bottom: 0px;
}


 /* This class contains the extended downloads section in project ChatVUE Installer Applications */
.download_Section12_extended 
{
    position: fixed;
    top: 0;

    margin-top: -600px;
    background: rgba(0, 0, 0, 0.678);
    border-radius: 20px;
    transform: rotateX(90deg);
    transition: transform 200ms 0ms ease-in-out; 
}
.download_Section12_extended.visible {
    margin-top: 20px;
    transform: rotateX(0deg);

}








/*When a Project learn more button is not pressed we do not want to show any extra details */
.extended__Description__Project
{


    display: flex;
    flex-direction: column;

    padding-left: 2ch;
    padding-right: 2ch;
    padding-bottom: 2ch;
    padding-top: 7ch;
    /* We want the items to stay in the center of the container */
    align-items: center;

    flex-grow: 3;
    /* On mobile we have to make the the extend decription window take up enough space that the user can easily read it.
    This property will need to be modified for desktop and tablet environments */

    background: transparent;
    background-color: #c4c8d6fa;
    position: fixed;
    top: 100px;
    overflow-y: scroll;
    max-height: 70vh;
    max-width: 90%;
    z-index: 200;
    transform: translateX(150%);
    transition: transform 200ms 300ms ease-in-out;
    

    border: solid 7px;
    border-radius: 15px;
    
}




/*When a Project learn more button is pressed we want an overlay to appear that gives a download button */
.download_Section1.visible,
.download_Section2.visible,
.download_Section3.visible,
.download_Section4.visible,
.download_Section5.visible,
.download_Section6.visible,

.download_Section7.visible,
.download_Section8.visible,
.download_Section9.visible,
.download_Section10.visible,
.download_Section11.visible,
.download_Section12.visible,
.download_Section13.visible
 {
   
    transform: translateX(-1%);
    transition: transform 350ms 350ms ease-in-out;

}

/*When a Project learn more button is pressed we want an overlay to appear that gives a close button */
.CloseWindow__Section1.visible,
.CloseWindow__Section2.visible,
.CloseWindow__Section3.visible,
.CloseWindow__Section4.visible,
.CloseWindow__Section5.visible,
.CloseWindow__Section6.visible,

.CloseWindow__Section7.visible,
.CloseWindow__Section8.visible,
.CloseWindow__Section9.visible,
.CloseWindow__Section10.visible,
.CloseWindow__Section11.visible,
.CloseWindow__Section12.visible,
.CloseWindow__Section13.visible
{
    
    transform: translateX(-1%);
    transition: transform 350ms 550ms ease-in-out;
}

/*When a Project learn more button is pressed we want an overlay to appear that gives more details on the project */
.extended__Description__Project.visible
{


transform: translateX(-1%);
transition: transform 350ms ease-in-out;

}

/* We want to make the Extended descriptions take up significatly less space when the screen is big enough */
@media screen and (min-width: 850px) {
    .extended__Description__Project.visible
    {
        min-width: 20%;
    }
    
 
}

.main-banner .imgban {
    background-image: url(images__projects/placeholder.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 3rd image for project 2 */
.main-banner #imgban3 {
    background-image: url(images/MarioGun3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project 2 */
.main-banner #imgban2 {
    background-image: url(images/MarioImg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project 2 */
.main-banner #imgban1 {
    background-image: url(images/MarioImg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner .imgban2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
}

/* This class and id contain our 3rd image for project 2 */
.main-banner #imgban6 {
    background-image: url(images/AirTrafficImg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project 2 */
.main-banner #imgban5 {
    background-image: url(images/AirTrafficImg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project 2 */
.main-banner #imgban4 {
    background-image: url(images/AirTrafficImg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.main-banner .imgban3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
}

/* This class and id contain our 3rd image for project 2 */
.main-banner #imgban9 {
    background-image: url(images/WordSearchImg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project 2 */
.main-banner #imgban8 {
    background-image: url(images/WordSearchImg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project 2 */
.main-banner #imgban7 {
    background-image: url(images/WordSearchImg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 3rd image for project */
.main-banner #imgban12 {
    background-image: url(images__projects/HomeAutomations3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project */
.main-banner #imgban11 {
    background-image: url(images__projects/HomeAutomations2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project */
.main-banner #imgban10 {
    background-image: url(images__projects/HomeAutomations1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* Lets make a rotating image banner that will show various pictures of the project 4*/
/* This class and id contain our 3rd image for project */
.main-banner #imgban15 {
    background-image: url(images__projects/Website3.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project */
.main-banner #imgban14 {
    background-image: url(images__projects/Website2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project */
.main-banner #imgban13 {
    background-image: url(images__projects/Website1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Lets make a rotating image banner that will show various pictures of the project 6*/
/* This class and id contain our 3rd image for project */
.main-banner #imgban18 {
    background-image: url(images__projects/MadGabGame3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project */
.main-banner #imgban17 {
    background-image: url(images__projects/MadGabGame2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project */
.main-banner #imgban16 {
    background-image: url(images__projects/MadGabGame1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Lets make a rotating image banner that will show various pictures of the project 7*/
/* This class and id contain our 3rd image for project */
.main-banner #imgban21 {
    background-image: url(images__projects/GitHubManager3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project */
.main-banner #imgban20 {
    background-image: url(images__projects/GitHubManager2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project */
.main-banner #imgban19 {
    background-image: url(images__projects/GitHubManager1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Lets make a rotating image banner that will show various pictures of the project 8*/
/* This class and id contain our 3rd image for project */
.main-banner #imgban24 {
    background-image: url(images__projects/AutoCompileKernel3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project */
.main-banner #imgban23 {
    background-image: url(images__projects/AutoCompileKernel2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project */
.main-banner #imgban22 {
    background-image: url(images__projects/AutoCompileKernel1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




/* Lets make a rotating image banner that will show various pictures of the project 9*/
/* This class and id contain our 3rd image for project */
.main-banner #imgban27 {
    background-image: url(images__projects/QuadraticFormula3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project */
.main-banner #imgban26 {
    background-image: url(images__projects/QuadraticFormula2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project */
.main-banner #imgban25 {
    background-image: url(images__projects/QuadraticFormula1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Lets make a rotating image banner that will show various pictures of the project 12*/
/* This class and id contain our 3rd image for project */
.main-banner #imgban34 {
    background-image: url(images__projects/ChatVUELinuxInstaller.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban35 {
    background-image: url(images__projects/ChatVUEWindowsInstaller.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban36 {
    background-image: url(images__projects/ChatVUEMacInstaller.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 2nd image for project */
.main-banner #imgban33 {
    background-image: url(images__projects/ChatVUEMacInstaller.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This class and id contain our 1st image for project */
.main-banner #imgban32 {
    background-image: url(images__projects/ChatVUEWindowsInstaller.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* Lets make a non rotating image banner that will show 1 picture of project 10*/
/* This class and id contain our 3rd image for project */
.main-banner #imgban28 {
    background-image: url(images__projects/CustomiTunesScriptEdit.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban29 {
    background-image: url(images__projects/WakeFromSleepScriptEdit.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Lets make a non rotating image banner that will show 1 picture of project 10*/
/* This class and id contain our 3rd image for project */
.main-banner #imgban31 {
    background-image: url(images__projects/WakeFromSleepScriptEdit.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* For project 10 and 11 where we have one image the text sometimes overlaps with the picture so lets fix this */
#extended__Description__Project10 h1,
#extended__Description__Project11 h1
 {
    margin-top: 14px;
}

/*Project 6 and 7 on mobile the content gets clipped into the picture so lets fix this */
/*On Mobile sometimes the bottom of the extended description gets clipped slightly so lets fix this */
@media screen and (max-width: 1000px){
        
    .extended__Description__Project
    {
        padding-bottom: 75px;
    }

    #extended__Description__Project7 h1,
    #extended__Description__Project6 h1{
        padding-bottom: 30px;
    }
}





/*Lets make the formatting for the small scale projects */
.page3__heading {
    display: flex;
    justify-content: center;
}

.small__scale__projects {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

     /*Borders for testing can be removed now
    border: solid pink 4px;
    */



}

.Project__img {

margin-top: -40px;
}


/* Now we need to adjust font and video sizes for a mobile screen */
@media screen and (max-width: 1292px) { 
    
/* THis class controls the project primary images we have */
    .Project__img {
        transform: scale(0.5);
        margin-left: -310px;
        margin-right: -310px;
        margin-top: -150px;
        margin-bottom: -100px;
        


    }
}

/* This class is the final container at the bottom of page 3 for the closing text*/
.Projects__not__mentioned {

    display: flex;
    justify-content: center;
    font-size: 1.2rem;

}

/* This class is the closing text at the bottom of page 3*/
.Projects__not__mentioned h3 {
    max-width: 800px;
    padding: 10ch 3ch;
}


/* Lets create animations */
/*First lets make animations for our learn more buttons */
.Project__button {
position: relative;

transition: color 250ms ease-in-out;
overflow: hidden;


}


/*We want to set the link3 to always be underlined. That way we know the current page
we are on. The link3 id location will be the Projects page*/
#navbar__mobile__link3::before,
#navbar__desktop__link3::before {
    transform-origin: center;
    transform: scaleX(0.85);
}