.mainLogo h4 {
    font-size: 5rem;
}

#userAndMyLogo h3  {
    font-size: 2.5rem;
    margin-top: -20px;
    margin-bottom: -20px;
}

#userAndMyLogo p {
    font-size: 1rem;
    margin-bottom: -20px;
}

.UserThings {
    margin-top: 90px;
}



#navbar__desktop__link9 {
    margin-left: -1ch;
}



#editProfileCloseMenuBtn {
    width: 100%;
    padding: 0.5ch;
    border-radius: 10px;
}


#CreateUserError,
#CreateUserSuccess {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    top: 10px;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 4em;
    width: fit-content;
    border: solid rgb(251, 80, 80) 10px;
    border-radius: 20px;
    background: rgb(251, 80, 80);
    
    font-size: 1.4rem;
    transform: translateY(-150%);
    transition: transform 200ms 0ms;
    z-index: 5502;
    max-width: 95%;

}
#CreateUserSuccess {
    border: solid rgb(11, 167, 6) 10px;
    background: rgb(11, 167, 6);
    color: white;
    z-index: 5501;
}

.fa-exclamation-triangle {
    color: yellow;
}

#errorMessageHeading,
#successMessageHeading {
    margin: 0 auto;
    text-align: center;
}
.logIn-Page,
.signUp-Page,
.authenticationChoice-Page {

width: 100%;
height: 100%;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-200%,-200%);
background: rgba(0, 0, 0, 0);
z-index: 2501;
padding: 100px;

/* Lets make the window disappear at first */

transition: background 150ms, transform 300ms 150ms;
}


.userProfileIconContainer.active {
    color:#fff;
    background-color:#007bff;
}

#userProfileIconContainer img {
    opacity: 1;
    cursor: pointer;
    transition: all 300ms;
}

#userProfileIconContainer:hover img {
    opacity: 0.2;
    transition: all 300ms;
    
}
#userProfileIconContainer:hover h1 {
    opacity: 1;
    transition: all 300ms;
    
}


#userProfileIconContainer {
    position: relative;
}

#userProfileIconUIContainer {
    overflow-y: scroll;
    max-height: 500px;
    margin-left: -2ch;
}


#userProfileIconContainer h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: all 300ms;
    
}

.iconSelectionImage {
    background-color: rgb(220, 220, 220);
    border:solid 10px rgb(220, 220, 220);
    margin: 0.5ch;
}

.iconSelectionImage.selected {
    border:solid 10px #007bff;
}

.editProfileScreen {

    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.842);
    z-index: 2501;
    }

.editUserProfileContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    max-height: 90vh;
    background-color: black;

    
}

@media screen and (max-width: 800px) {

    .editUserProfileContainer {
        margin-top: -10ch;
        overflow-y: scroll;

    }
    
}

.authenticationChoice-Page.visible,
.signUp-Page.visible,
.logIn-Page.visible {
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.842);
    transition: transform 300ms, background 200ms 300ms;
}
 

.authenticationChoice-Page h1 {
    font-size: 3.7rem;
    display: flex;
    justify-content: center;
}

.logIn-Page h2,
.signUp-Page h2{
    font-size: 3.7rem;
    color: rgb(81, 81, 124);
    padding-top: 1ch;
    padding-bottom: 1ch;
    display: flex;
    justify-content: center;
}

.signUp-Page h2,
.authenticationChoiceContainer h2 {
    font-size: 3rem;
    padding-bottom: 0ch;
}



.logIn-Container,
.forgotPasswordContainer,
.authenticationChoiceContainer {
    max-width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background: rgb(255, 255, 255);
    opacity: 0.9;
    border-radius: 30px;
    padding-bottom: 4ch;
    padding-left: 4ch;
    padding-right: 4ch;
    


}

/* Disable all hover animations since the input fields should be disabled */
.inputBox.disable {
    pointer-events: none;
}

.inputBox {
    pointer-events: all;
}

.authenticationChoiceContainer h2 {
    margin-left: 1ch;
}

.btn-primary {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    transform: scale(1);
    transition: all 300ms;

}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.05);
    color: black;
    transition: all 300ms;
    
}

#signInGoogleBtn {
    background-color: #34A853;
    
}

#signInMetaBtn {
    background-color: #3B5998;
    
}

#signOutBtn i {
    color: red;
}
#helpAndPrivacyBtn i {
    color: rgb(0, 110, 255);
}

#editProfileBtn i {
    color: orange;
}

#settingsBtn i {
    color: rgb(205, 5, 195);
}

#navbar-logIn i {
    color: green;
}

#navbar-signUp i {
    color: yellow;
}

#custom-logIn {

    background: linear-gradient(45deg, 
    rgba(255, 230, 0, 1) 0%, 
    rgba(250, 0, 255, 0.22) 25%, 
    rgba(1, 141, 201, 0.456406) 50%, 
    rgba(255, 186, 53, 0.65) 75%, 
    rgba(209, 21, 66, 0.807292) 100%);
    

}


.logIn-Container h2,
.forgotPasswordContainer h2
 {
    padding-left: 1ch;
    padding-right: 1ch;
    color: #3633C9;
}

.notificationTypes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5ch;
    padding: 1.5ch;
}
.notificatonTypeGeneralBtn {
    border: solid rgb(24, 102, 192) 5px;
    background: rgb(24, 102, 192);
    color: white;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 300ms;
}

#SubmitNewNotification {
    border: solid rgb(49, 192, 24) 5px;
    background: rgb(49, 192, 24);
    color: white;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 300ms;
}

#SubmitNewNotification:hover,
#SubmitNewNotification:focus {
    transform: scale(1.1);
    transition: all 300ms;
}



#CancelNewNotification {
    border: solid rgb(214, 27, 27) 5px;
    background: rgb(214, 27, 27);
    color: white;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 300ms;
}

#CancelNewNotification:hover,
#CancelNewNotification:focus {
    transform: scale(1.1);
    transition: all 300ms;
}


#CreateUserNotificationContainer {
    text-align: center;
}

.CreateNewUserNotificationBtn {
    border: solid rgb(49, 192, 24) 5px;
    background: rgb(49, 192, 24);
    color: white;
    border-radius: 20px;
    font-size: 1.7rem;
    padding: 0.5ch;
    transition: all 300ms;
}

.CreateNewUserNotificationBtn:hover {
    transform: scale(1.1);
    color: black;
    transition: all 300ms;
}

.notificationTypeUserBtn:hover,
.notificatonTypeGeneralBtn:hover {
    color: black;
    
}

#notificatonTypeGeneralBtn.focus::before,
#notificationTypeUserBtn.focus::before {
    transform: scaleX(0.5);
}


#notificatonTypeGeneralBtn::before,
#notificationTypeUserBtn::before
{
    content: '';
    position: absolute;
    left: 2ch;
    right: 2ch;
    top: 12ch;
    height: 6px;
    background-color: rgb(24, 102, 192);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}

#notificationTypeUserBtn::before
{
    background-color: rgb(125, 24, 192);
    transform-origin: right;
    
}

.notificationTypeUserBtn {
    border: solid rgb(125, 24, 192) 5px;
    background: rgb(125, 24, 192);
    color: white;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 300ms;
}

#logIn-email,
#logIn-password,
#resetPassword-email,
#user-name-first,
#user-name-last,
#user-email,
#user-phone,
#user-password
 {
    padding-block: 1ch;
    font-size: 1.3rem;
    border-radius: 20px;
}

.signUp-Page-Container {
    position: absolute;
    max-width: 1200px;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(233, 233, 233);
    padding-left: 2ch;
    padding-right: 2ch;

    border-radius: 30px;
    
}

.signUp-Page-Container h2 {
    color: #303079;
    padding-inline: 1.5ch;
}



.input-fields
 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    padding-bottom: 3ch;
    padding-left: 4ch;
    padding-right: 4ch;
}

.input-fields-signUp {
    
    display: flex;
    font-size: 2.5rem;
    padding-block: 0.5ch;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

#signup-form {
    height: 100%;
    width: 100%;
}

.signup-form-left-side,
.signup-form-right-side {
    display: flex;
    padding: 1ch;
    flex-direction: column;
}

.signUp-form-required-text {
    color: red;
    font-size: 1.2rem;
}

#signInGoogleBtn,
#signInMetaBtn,
#custom-logIn {
    font-size: 2rem;
}

#logInBtn,
#logInForgotPasswordBtn,
#goBackTologInPage,
#triggerResetLinkBtn,
#signUpBtn
 {
    font-size: 2rem;
    color: black;
    transform: scale(1);
    transition: all 300ms;
    
}

#logInBtn,
#triggerResetLinkBtn
 {
    margin-left: 4ch;
    margin-right: 1ch;
}

#goBackTologInPage,
#signUpBtn {
    border: solid rgb(24, 192, 38) 5px;
    background: rgb(24, 192, 38);
    border-radius: 20px;
}

#signUpBtn {
    
    padding: 0px;
    margin-top: 2ch;
}

#triggerResetLinkBtn {
    background: crimson;
    border: solid crimson;
    border-radius: 20px;
}


/* We need to move the Reset Password Page out of the way before we call it */
.forgotPasswordContainer {
    transform: translateX(250%);
    opacity: 0;
    transition: transform 300ms;
}

.forgotPasswordContainer.minimize {
    transform: translateX(250%);
    opacity: 1;
    transition: transform 300ms;

}

.forgotPasswordContainer.show {
    transform: translate(-50%,-50%);
    transition: transform 300ms;
    opacity: 1;
}



.logIn-Container.hide {
    transform: translateX(-500%);
    transition: transform 300ms;
}

.logIn-Container {
    transform: translate(-50%,-50%);
    transition: transform 300ms;
}

.identification__Buttons__Container {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-wrap: wrap;
    gap: 2ch;
    flex-grow: 1;

}

#logInCloseBtn,
#logInCloseBtn2,
#authenticationChoiceCloseBtn,
#signUpCloseBtn {
    cursor: pointer;
    background: transparent;
    float: right;
    top: 0;
    border: none;
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.664);
    font-size: 4rem;
    transition: color 300ms;
    margin-right: -1ch;
    
}

#signUpCloseBtn {
    margin-right: -0.5ch;
}





#logInCloseBtn:hover,
#logInCloseBtn:focus,
#logInCloseBtn2:hover,
#logInCloseBtn2:focus,
#signUpCloseBtn:hover,
#signUpCloseBtn:focus,
#authenticationChoiceCloseBtn:hover,
#authenticationChoiceCloseBtn:focus
{

    color: rgb(214, 27, 27);
}

#logInBtn
 {
    border: solid rgb(24, 192, 38) 5px;
    background: rgb(24, 192, 38);
    border-radius: 20px;
}

#logInForgotPasswordBtn {
    
    border: solid rgb(214, 27, 27) 5px;
    background: rgb(214, 27, 27);
    border-radius: 20px;
    
}

/* Lets do the css for locking the contact form */

.lockTheContactForm .fa-lock {
    font-size: 30rem;
    position: absolute;
    margin-top: 70px;
    margin-left: 40px;
    z-index: 200;
    color: rgba(0, 0, 0, 0.815);
}

.lockTheContactForm h2 {
    position: absolute;
    z-index: 201;
    font-size: 2.3rem;
    margin-top: 390px;
    margin-left: 3ch;
    color: rgb(204, 8, 8);
}





@media screen and (max-width: 1292px) {
    .lockTheContactForm .fa-lock {
        margin-top: 50px;
        margin-left: -5px;
    }

    .lockTheContactForm h2 {
        margin-top: 370px;
        margin-left: 10px;
    }
}

/* Lets add better formatting for account creation and signup pages for Mobile devices */
@media screen and (max-width: 1726px)
{
    .signUp-Page-Container,
    .logIn-Container,
    .forgotPasswordContainer
    {
        width: 80%;
    }

    
    
}

@media screen and (max-width: 1009px)
{
    .signup-form-right-side {
        padding: 0.5ch;
    }
    .signup-form-left-side {
        padding: 0.5ch;
    }
    


}



@media screen and (max-width: 799px) {

/* Let's make the top menu bar not fixed for smaller screens in terms of width */

    .logIn-Container h2,
    .forgotPasswordContainer h2,
    .signUp-Page-Container h2,
    .authenticationChoiceContainer h2 {
        font-size: 2.5rem;
        padding-left: 2ch;
        margin-top: 4ch;
    }

    .logIn-Container,
    .forgotPasswordContainer,
    .signUp-Page-Container,
    .authenticationChoiceContainer {
        margin-top: 3ch;
        height: 81vh;
        overflow-y: scroll;
    }

    #logInCloseBtn,
    #logInCloseBtn2,
    #authenticationChoiceCloseBtn,
    #signUpCloseBtn {
        position: absolute;
        left: 0;
        width: 100%;
        background-color:rgb(210, 210, 210);;
    }


    
}



/*Next lets create the hover animations for our contact form on page 3*/

#logIn-email,
#logIn-password,
#resetPassword-email,
#user-name-first,
#user-name-last,
#user-email,
#user-phone,
#user-password
{
    transform: scale(1);
    transform: translateY(0);
    transition: transform 250ms ease-in-out;
}

#logIn-email:hover,
#logIn-email:focus,
#logIn-password:hover,
#logIn-password:focus,
#resetPassword-email:hover,
#resetPassword-email:focus,
#user-name-first:hover,
#user-name-first:focus,
#user-name-last:hover,
#user-name-last:focus,
#user-email:hover,
#user-email:focus,
#user-phone:hover,
#user-phone:focus,
#user-password:hover,
#user-password:focus

{
    transform: scale(1.05);
    
}


#logInForgotPasswordBtn:hover, 
#logInForgotPasswordBtn:focus,
#logInBtn:hover,
#logInBtn:focus,
#triggerResetLinkBtn:hover,
#triggerResetLinkBtn:focus,
#goBackTologInPage:hover,
#goBackTologInPage:focus,
#signUpBtn:hover,
#signUpBtn:focus


{
color: white;
transform: scale(1.1);
transition: all 300ms;

}


.fa-sign-out-alt{
    color: red;
    font-size: 1.5rem;
}




